@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}

body {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container1 {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab {
    font-weight: bolder;
    font-size: larger;
}

#table-select {
    font-weight: bold;
    font-size: large;
}

#container2 {
    margin: 5px;
    width: 250px;
    height: 60px;
    background-color: tomato;
    color: azure;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 3px gray;
    cursor: pointer;

    text-align: center;
    border-radius: 5px;

    font-weight: bold;
    font-size: larger;
}

#container2:hover {
    width: 262px;
    height: 65px;
    font-size: x-large;
}

#game-clock {
    visibility: hidden;
}




/* Home button styling */
#home {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: indianred;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 5px gray;
}

#home:hover {
    cursor: pointer;
    background-color: rgba(205, 92, 92, 0.712);
    color: black;
    font-weight: bold;
}





/* htp button styling */
.htplink {
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: indianred;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 5px gray;
}

.htplink:hover {
    cursor: pointer;
    background-color: rgba(205, 92, 92, 0.712);
    color: black;
    font-weight: bold;
}

